# dependencies
node_modules/
allure-results/
allure-report/

# temporary files
tmp/
.tmp/
snapshot/
snapshots/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
Console.log

# environment files
.env

# IDE settings
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
